{% load staticfiles %}

<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>ChaiVilla</title>
	<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
	<link rel="shortcut icon" type ="image/png" href="{% static 'images/favicon.png' %}" >
	<link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" />
	<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700,300italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/animat/animate.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/fancybox/jquery.fancybox.css' %}" />
	<link rel="stylesheet" href="{% static 'css/nivo-lightbox/nivo-lightbox.css' %}" />
	<link rel="stylesheet" href="{% static 'css/themes/default/default.css' %}" />
	<link rel="stylesheet" href="{% static 'css/owl-carousel/owl.carousel.css' %}" />
	<link rel="stylesheet" href="{% static 'css/owl-carousel/owl.theme.css' %} " />
	<link rel="stylesheet" href="{% static 'css/owl-carousel/owl.transitions.css' %}"/>
	
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
</head>
<body>


	<div class='preloader'><div class='loaded'>&nbsp;</div></div>
	<header id="home" class="header">
		<div class="main_menu_bg navbar-fixed-top wow slideInDown" data-wow-duration="1s">
			<div class="container">
				<div class="row">
					<div class="nave_menu">
					<nav class="navbar navbar-default">
					  <div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>
						  
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						  
						  <ul class="nav navbar-nav navbar-right">
							<li class="active"><a href="{% url 'Menu_view' %}">Home</a></li>
							<li><a href="#features">FEATURES</a></li>
							<li><a href="#special">PRICINGS</a></li>
							<li><a href="#abouts">CONTACTS</a></li>
							<li><a href="#footer">FAQ</a></li>
							
						  </ul>
						</div><!-- /.navbar-collapse -->
					  </div><!-- /.container-fluid -->
					</nav>
					</div>	
				</div><!--End of row -->
				
			</div><!--End of container -->
			
		</div>
	</header> <!--End of header -->
	<section id="banner" class="banner">
		<div class="container">
			<div class="row">
				<div class="main_banner_area text-center">
					<div class="col-md-5 col-sm-5 col-md-offset-7 col-sm-offset-7">
						<div class="single_banner_text wow zoomIn" data-wow-duration="1s">
			
							<div class="separetor"></div>
						</div>
					</div>
					<div class="scrolldown">
						<a href="#special" class="scroll_btn"></a>
					</div>
				</div>
			</div>
		</div>
	</section><!-- End of Banner Section -->
	<section id="features" class="features sections">
		<div class="container">
			<div class="row">
				<div class="features_content text-center">
					<div class="col-md-4">
						<div class="sinle_features wow slideInUp" data-wow-duration="1s">
							<img src="{% static 'images/chaivilla_breakfast.png' %}" alt=""  />
							<h5>Chaivilla Breakfast</h5>
							<p></p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="sinle_features wow slideInUp" data-wow-duration="1.5s">
							<img src="{% static 'images/chaivilla_lunch.png' %}" alt="" />
							<h5>Chaivilla Lunch</h5>
							<p> </p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="sinle_features wow slideInUp" data-wow-duration="2s">
							<img src="{% static 'images/chaivilla_biryani.png' %}" alt="" />
							<h5>Chaivilla Dinner</h5>
							<p></p>
						</div>
					</div>
					<p><h2>Where taste meets the myth</h2></p>
				</div>
			</div>
		</div>
	</section><!-- End of Abouts Section -->	
	
	<section id="special" class="special sections">
		<div class="container">
			<div class="row">
				<div class="head_title text-center wow slideInLeft" data-wow-duration="1.5s">
					<h2>This month specials</h2>
					<div class="separetor"></div>
				</div>
				<div class="main_special text-center wow slideInUp" data-wow-duration="3s">
					
					<div class="col-md-2 col-sm-3 col-xs-6 single_special">
						<div class="single_special_img">
							<img src="{% static 'images/poha.png' %}" alt="" />
							<div class="single_special_overlay text-center">
								<h3>Poha</h3>
								<div class="overlay_separetor"></div>
								<p>Indian delicious breakfast</p>
								<p>15₹</p>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-6 single_special">
						<div class="single_special_img">
							<img src="{% static 'images/upma.png' %}" alt="" />
							<div class="single_special_overlay text-center">
								<h3>Upma</h3>
								<div class="overlay_separetor"></div>
								<p>Indian delicious breakfast</p>
								<p>15₹</p>
							</div>							
						</div>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-6 single_special">
						<div class="single_special_img">
							<img src="{% static 'images/dosa.png' %}" alt="" />
							<div class="single_special_overlay text-center">
								<h3>Dosa</h3>
								<div class="overlay_separetor"></div>
								<p>Indian delicious breakfast</p>
								<p>40₹</p>
							</div>							
						</div>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-6 single_special">
						<div class="single_special_img">
							<img src="{% static 'images/paratha.png' %}" alt="" />
							<div class="single_special_overlay text-center">
								<h3>Paratha</h3>
								<div class="overlay_separetor"></div>
								<p>Indian Delicious Breakfast.</p>
								<p>30₹</p>
							</div>							
						</div>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-6 single_special">
						<div class="single_special_img">
							<img src="{% static 'images/sandwich.png' %}" alt="" />
							<div class="single_special_overlay text-center">
								<h3>Sandwich</h3>
								<div class="overlay_separetor"></div>
								<p>When it comes to lunch, few choices can beat a sandwich for simplicityy</p>
								<p>30₹</p>
							</div>							
						</div>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-6 single_special">
						<div class="single_special_img">
							<img src="{% static 'images/fries.png' %}" alt="" />
							<div class="single_special_overlay text-center">
								<h3>Fries</h3>
								<div class="overlay_separetor"></div>
								<p>French fries, chips, finger chips, or French-fried potatoes are batonnet or allumette-cut deep-fried potatoes</p>
								<p>40₹</p>
							</div>							
						</div>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-6 single_special">
						<div class="single_special_img">
							<img src="{% static 'images/biryani.png' %}" alt="" />
							<div class="single_special_overlay text-center">
								<h3>Biryani</h3>
								<div class="overlay_separetor"></div>
								<p>Biryani is the next big thing to hug!!</p>
								<p>99₹</p>
							</div>							
						</div>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-6 single_special">
						<div class="single_special_img">
							<img src="{% static 'images/burger.png' %}" alt="" />
							<div class="single_special_overlay text-center">
								<h3>Burger</h3>
								<div class="overlay_separetor"></div>
								<p>Delicious Fast Food</p>
								<p>40₹</p>
							</div>							
						</div>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-6 single_special">
						<div class="single_special_img">
							<img src="{% static 'images/noodels.png' %}" alt="" />
							<div class="single_special_overlay text-center">
								<h3>Noodels</h3>
								<div class="overlay_separetor"></div>
								<p>Noodles are a staple food in many cultures made from unleavened dough which is stretched, extruded, or rolled flat and cut into one of a variety of shapes.</p>
								<p>70₹</p>
							</div>							
						</div>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-6 single_special">
						<div class="single_special_img">
							<img src="{% static 'images/chaivilla_biryani.png' %}" alt="" />
							<div class="single_special_overlay text-center">
								<h3>Anda Biryani</h3>
								<div class="overlay_separetor"></div>
								<p>An aromatic rice dish cooked with several spices and a protein that's been marinated.</p>
								<p>70₹</p>
							</div>							
						</div>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-6 single_special">
						<div class="single_special_img">
							<img src="{% static 'images/Chaivilla_Bhurji.png' %}" alt="" />
							<div class="single_special_overlay text-center">
								<h3>Anda Bhurji</h3>
								<div class="overlay_separetor"></div>
								<p>Eat Eggs to Lose Weight</p>
								<p>40₹</p>
							</div>							
						</div>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-6 single_special">
						<div class="single_special_img">
							<img src="{% static 'images/chaivilla_idli.png' %}" alt="" />
							<div class="single_special_overlay text-center">
								<h3>Idli</h3>
								<div class="overlay_separetor"></div>
								<p> A heavy South Indian breakfast food. A fermented batter of ground rice and lentils.</p>
								<p>30₹</p>
							</div>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="menus" class="menus sections">
		<div class="container">
			<div class="row">
				<div class="main_menus">
					<div class="head_title text-center wow slideInDown" data-wow-duration="2s">
						<h2>Menu</h2>
						<div class="separetor"></div>
					</div>
					
					<div class="menus_top_menu text-center wow slideInDown" data-wow-duration="1.5s">
						<ul>
							{% for s in menu %}
									
								  <li><a href="{% url 'item' menu_id=s.category %}"> {{ s.category }} </a> </li>&nbsp;   
								 					
							{% endfor %}
						</ul>
					</div>
					
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single_menus wow slideInLeft" data-wow-duration="1.5s">
						
							<!-- <ul>	
								{% for s in menu %}
									
								<li>{{ s.name }} ...........................................................
								{{ s.price }}</li>    
							

								{% endfor %}
							</ul> -->
							{% block content %}
							{% endblock %}

						</div>
					</div>
				</div>
			</div>
		</div> 
	</section>


	<section id="abouts" class="abouts sections">
		<div class="container">
			<div class="row">
				<div class="main_abouts">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single_abouts wow slideInLeft" data-wow-duration="2s">
							<div class="head_title text-center">
								<h2>About us</h2>
								<div class="separetor"></div>
							</div>
							
							<p>Give your tastebuds a Rollercoster ride.. With our Variates of tea, & lip Smacking Food..!!<div style="font-size:3em; color:Red">
  														<i class="fas fa-heart"></i>
  														<i class="fas fa-heart"></i>
  														<i class="fas fa-heart"></i>
												</div></p>
							
						</div>
					</div>
					
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single_abouts wow slideInRight" data-wow-duration="2s">
							<img src="{% static 'images/tea_cup.jpg' %}" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- End of Abouts Section -->
	

	<!-- footer Section -->
	
	<footer id="footer" class="footer">
		<div class="container">
			<div class="row">
				
				<div class="col-sm-7 col-sm-offset-7 col-xs-10 col-xs-offset-2">
					<div class="contact_area wow slideInLeft" data-wow-duration="2s">
						<div class="head_title text-center">
							<h2>CONTACT</h2>
							<div class="separetor"></div>
						</div>
						
						<div class="main_contact_content">
							<div class="row">
								
								
								<div class="col-sm-10">
									<div class="single_contact text-right">
										<p><h5>15/4/537,Navashantiniketan Society, Pradhikaran, Ravet, Pimpri-Chinchwad, Maharashtra 412101</h5></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="row">
				<div class="copyright_text_area">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single_footer text-right wow zoomIn" data-wow-duration="2s">
							<p>Made with <i class="fas fa-heart"></i> by <a href="https://www.24motionpicture.com/">24motionpicture.com</a>2017. All Rights Reserved</p>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single_footer text-right">
							
							<div class="footer_socail wow zoomIn" data-wow-duration="1.5s">
								<a href="https://www.facebook.com/CHAIVILLAPUNE/"><i class="fab fa-facebook-f"></i></a>
								<a href="https://www.instagram.com/chaivillapune/"><i class="fab fa-instagram"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</footer>
	


	<!-- STRAT SCROLL TO TOP -->
	
	<div class="scrollup">
		<a href="#"><i class="fa fa-chevron-up"></i></a>
	</div>
	
	
	
	
	

	<script type="text/javascript" src="{% static 'js/jquery/jquery.js' %}"></script>
	
	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
	
	<script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
	
	<script type="text/javascript" src="{% static 'js/fancybox/jquery.fancybox.pack.js' %}"></script>
	
	<script type="text/javascript" src="{% static 'js/nivo-lightbox/nivo-lightbox.min.js' %}"></script>
	
	<script type="text/javascript" src="{% static 'js/owl-carousel/owl.carousel.min.js' %}"></script>
	
	
	
	<script type="text/javascript" src="{% static 'js/jquery-easing/jquery.easing.1.3.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/wow/wow.min.js' %}"></script>
</body>
</html>