{% extends 'index.html' %}
{% load staticfiles %}
	<section id="menus" class="menus sections">
		<div class="container">
			<div class="row">
				<div class="main_menus">
					<div class="head_title text-center wow slideInDown" data-wow-duration="2s">
						<h2>Menu</h2>
						<div class="separetor"></div>
					</div>
					
					<div class="menus_top_menu text-center wow slideInDown" data-wow-duration="1.5s">
						<ul>
							<li class="active"><a href=""	>Beverages</a></li>
							<li><a href="{% url 'sandwitch_view' %}">Sandwitches</a></li>
							<li><a href="{% url 'Desserts_view' %}">Desserts</a></li>
							<li><a href="">Main Course</a></li>
						</ul>
					</div>
					
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single_menus wow slideInLeft" data-wow-duration="1.5s">
						
							<ul>	
							{% for s in menu %}
									
								<li>	{{ s.name }} ...........................................................
								{{ s.price }}</li>    
							

							{% endfor %}
							</ul>
						


						</div>
					</div>
					
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single_menus wow slideInRight" data-wow-duration="1.5s">
							
						</div>
					</div>
				</div>
			</div>
		</div> 
	</section>

	

	